body{
    background-color: rgba(110, 28, 56, 0.981);
    
}

button{
    width: 15vh;
    height: 5vh;
    border-radius: 8px;
    border: 5px solid rgba(9, 6, 6, 0.49);
    background-color: rgb(82, 80, 80);
    color: rgb(1, 1, 1);
    font-size: large;
    transition:ease-in-out;
    transition-duration: 0.2s;
}
button:hover{
    color: black;
    background-color: antiquewhite;
    border: 3px solid black;
}
img{
    padding: 2vh;
    width: 50vh;
    border-radius: 15px;
}
.Header{
    display:flex;
    padding-left: 2vh;
}
.backPhoto{
    border-radius: 15px;
}
.headLinks{
    /**/
    align-self: center;
    padding-left:75%;
    }
main{
    background-color: rgba(83, 27, 38, 0.493);
    text-align: center;
}
.space{
    padding-top: 28vh;
}
footer{
    text-align: center;
    font-size: large;
    background-color: rgba(58, 20, 28, 0.493);
    text-decoration:underline;   
}
a{
    text-decoration:underline;
    color: black;
    font-size: large;
    transition: ease-in-out;
    transition-duration: 1s;
}
a:hover{
    color: antiquewhite;
}