body{
    margin:0;
    background-color: rgba(110, 28, 56, 0.981);

}

footer{
    text-align: center;
    font-size: large;
    background-color: rgba(58, 20, 28, 0.493);
    text-decoration:underline;   
    width: 100%;
    position: flex;
    bottom: 0;
    left: 0;
    padding-bottom: 12px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition:ease-in-out;
    transition-duration: 0.2s;
}

button:hover{
    color: black;
    background-color: antiquewhite;
    height: 45px;
    border: 3px solid black;
}

.Header{
    display:flex;
    padding-left: 2vh;
}.headLinks{
    /**/
    align-self: center;
    padding-left:75%;
    }a{
    text-decoration:underline;
    color: black;
    font-size: large;
    transition: ease-in-out;
    transition-duration: 1s;
}a:hover{
    color: antiquewhite;
}