img{
    padding: 2vh;
    width: 50vh;
    border-radius: 15px;
}

.backPhoto{
    border-radius: 15px;
}

main{
    background-color: rgba(179, 30, 60, 0.332);
    text-align: center;
    width: 60vh;
    border-radius: 20px;
}
button{
    width: 120px!important;
}